/* ==========================================================================
   Defaults: Color, Size, Font
   ========================================================================== */

$blue: #427cf4;
$blue-two: #3c69c6;

$black-one: #616161;
$black-two: #333333;

$gray-one: #f5f5f5;;
$gray-two: #e2e7ea;
$gray-three: #9b9b9b;
$gray-four: #f7f7f7;

$red: #ea6343;
$red-two: #ef9073;
