/* ==========================================================================
   Import Fonts: Helvetica Neue Greek, Helvetica Neue Greek Bold, Helvetica Neue Greek Light, PFGaramondClassic-Italic
   ========================================================================== */

// @import "./css/fonts.css";

@font-face {
  font-family: "helvetica";
  src: url("../fonts/HelveticaNeue.ttf") format("ttf");

};

@font-face {
  font-family: "BPGDejaVuSans";
  src: url("../fonts/BPGDejaVuSans.ttf") format("ttf");

};


@include font-face(helvetica, fonts/HelveticaNeue, 400);
@include font-face(BPGDejaVuSans, fonts/BPGDejaVuSans);

